<%= form_for(@grammar, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row">
                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question1. 丁寧な解説が欲しい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question2. 分厚い参考書をやりきるのに達成感を感じる</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question3. 正解を覚えてしまっているから答えられているみたいな感じになっていないか心配だ</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question4. まずはテーマごとにアウトプットをしていきたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                 <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question5. レベル別に取り組んでいきたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question6. 長文っぽい問題にもトライしてみたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                </div>
            </div>
              <div class="buttonbox2">
                <%= f.submit "診断結果へ！" ,class:"sindanbotan"%>
              </div>
<% end %>