     <div class="intoro">
            <h2>診断結果</h2>
        </div>
        <div class="tweet-container">
            <div class="tweet">
             <% if @language.question == "000000" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「システム英単語」 / 「速読英単語(必修編)」 /「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "システム英単語.jpg", size: '320x450' %> 
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "Stock4500.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "000001" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「SPARTA2」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の新しい単語帳！1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div> 
                </div>
            </div>                

             <% elsif @language.question == "000010" %>    
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「ターゲット1900」 /「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "Stock4500.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "000011" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「ターゲット1900」 /「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "Stock4500.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "000100" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "速単必修編.jpg", size: '390x550' %> 
                     <%= image_tag "パス単2級.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                </div>
            </div>                 


                <% elsif @language.question == "000101" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "速単必修編.jpg", size: '390x550' %> 
                     <%= image_tag "パス単2級.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "000110" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>速読英単語(必修編)</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "速単必修編.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                      
                </div>
                <% elsif @language.question == "000111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>速読英単語(必修編)</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "速単必修編.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "001000" %>
                  <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「システム英単語Premium」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>基礎レベルからしっかりと入ることができ、演習量も確保できる参考書。時間的余裕があってじっくりと英文解釈に取り組みたい人は是非！ </p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>見やすいレイアウトとインプットに必要な要素がしっかり詰まっている参考書。英語に苦手意識がある人もとっつきやすい参考書！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "001001" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「システム英単語Premium」」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の新しい単語帳！1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "001010" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「LEAP」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "LEAP.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "001011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "001100" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "パス単2級.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div>                      
                </div>                 

                <% elsif @language.question == "001101" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "001110" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>速読英単語(必修編)</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "LEAP.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "001111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>Distinction 2000</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "010000" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「ターゲット1900」 / 「パス単2級」 / 「システム英単語」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     <%= image_tag "システム英単語.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "010001" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「高校英文読解をひとつひとつわかりやすく」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     <%= image_tag "高校英文読解をひとつひとつ.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>見やすいレイアウトとインプットに必要な要素がしっかり詰まっている参考書。英語に苦手意識がある人もとっつきやすい参考書！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "010010" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>ターゲット1900</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "ターゲット1900.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "010011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「ターゲット1900」 / 「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "ターゲット1900.jpg", size: '390x550' %> 
                     <%= image_tag "単語王2202.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "010100" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "パス単2級.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "010101" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "パス単2級.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "010110" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「ターゲット1900」 /「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "010111" %>
               <div class="提示パターンc">
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「ターゲット1900」 /「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "011000" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「SPARTA2」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "SPARTA2.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "011001" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「SPARTA2」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "SPARTA2.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "011010" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「ターゲット1900」 / 「LEAP」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "ターゲット1900.jpg", size: '390x550' %> 
                     <%= image_tag "LEAP.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "011011" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「SPARTA2」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "SPARTA2.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "011100" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "パス単2級.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "011101" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「SPARTA2」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "SPARTA2.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                      
                </div>

               <% elsif @language.question == "011110" %>
                <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「ターゲット1900」 /「パス単2級」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                </div>
            </div>                

                <% elsif @language.question == "011111" %>
    　           <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>Distinction 2000</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "100000" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「Stock 4500」 / 「システム英単語」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "Stock 4500.jpg", size: '390x550' %> 
                     <%= image_tag "システム英単語.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "100001" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "シス単プレミアム.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                      
                </div>

             <% elsif @language.question == "100010" %>    
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Stock4500.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "100011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「単語王2202」 / 「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "超入門英文解釈の技術60.jpg", size: '390x550' %> 
                     <%= image_tag "単語王2202.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "100100" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「パス単2級」 /「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "速単必修編.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     <%= image_tag "Stock4500.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "100101" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "100110" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「Stock 4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "速単必修編.jpg", size: '390x550' %> 
                     <%= image_tag "Stock4500.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "100111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>
                
              <% elsif @language.question == "101000" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "シス単プレミアム.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "101001" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "シス単Premium.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "101010" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「LEAP」 / 「Stock4500」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "LEAP.jpg", size: '390x550' %> 
                     <%= image_tag "Stock4500.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも… </p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "101011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "101100" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "101101" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語Premium」 / 「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     <%= image_tag "Distinction.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "101110" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "101111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "110000" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「システム英単語」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "システム英単語.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div>                      
                </div>

                <% elsif @language.question == "110001" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「システム英単語」 / 「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "システム英単語.jpg", size: '390x550' %> 
                     <%= image_tag "単語王2202.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "110010" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「ターゲット1900」 / 「Stock 4500」 /「LEAP」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "Stock4500.jpg", size: '320x450' %> 
                     <%= image_tag "LEAP.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の名著。「記憶ブースター」という覚えやすくなるワンポイントアドバイスもあるのがポイント！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "110011" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "単語王2202.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "110100" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「ターゲット1900」 / 「パス単2級」 /「英文読解入門 基本はここだ！」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "ターゲット1900.jpg", size: '320x450' %> 
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     <%= image_tag "英文読解入門基本はここだ.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>ザ・王道の英単語帳！どんな人でもつかいやすいクセのない参考書！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>「硬派な英文解釈の勉強」を感じられる参考書。後々にしっかり難しいところまで英文解釈の勉強をしたい人の1冊目としておすすめ！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "110101" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「パス単2級」 / 「システム英単語」 /「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "パス単2級.jpg", size: '320x450' %> 
                     <%= image_tag "システム英単語.jpg", size: '320x450' %> 
                     <%= image_tag "単語王2202.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>英検2級合格に向けて効率的に勉強を進めることができる！シンプルなデザインなので使いやすい！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "110110" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「速読英単語(必修編)」 / 「システム英単語(必修編)」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "速単必修編.jpg", size: '390x550' %> 
                     <%= image_tag "システム英単語.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>長文を読みながら楽しく英語を勉強できる！生きた英語にたくさん触れたい人におすすめ！ </p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "110111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "単語王2202.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div>                      
                </div>
    
                <% elsif @language.question == "111000" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「LEAP」 / 「システム英単語」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "LEAP.jpg", size: '390x550' %> 
                     <%= image_tag "システム英単語.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "111001" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「システム英単語Premium」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '390x550' %> 
                     <%= image_tag "シス単プレミアム.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "111010" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>「LEAP」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "LEAP.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "111011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「LEAP」 / 「単語王2202」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "LEAP.jpg", size: '390x550' %> 
                     <%= image_tag "単語王2202.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>標準レベルの単語帳で1番情報量の多い単語帳！覚えきれたら怖いものなしだが、少し覚えづらいかも…</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @language.question == "111100" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「LEAP」 / 「システム英単語」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "LEAP.jpg", size: '390x550' %> 
                     <%= image_tag "システム英単語.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>レベル別やミニマルフレーズといった特徴で覚えやすい工夫がなされている！ 情報量も多めなのでこれ1冊でほとんどの大学はカバーできるよ！</p>
                    </div> 
                </div>
            </div>                 
        
                <% elsif @language.question == "111101" %>
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「SPARTA2」 / 「システム英単語Premium」 /「Distinction 2000」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "SPARTA2.jpg", size: '320x450' %> 
                     <%= image_tag "シス単プレミアム.jpg", size: '320x450' %> 
                     <%= image_tag "Distinction.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>関先生の新しい単語帳！ 1冊1000単語なので短い時間でやりきることが可能！</p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>語源から覚えるタイプの単語帳。通常版のシス単とは違う形で覚えるので、合う人/合わない人がいるかも…</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                   　 <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @language.question == "111110" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>LEAP</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "LEAP.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>竹岡先生著の英単語帳。意味合いごとに並んでいるので覚えやすい反面、アウトプットはしづらいかも…</p>
                    </div>                      
                </div>

                <% elsif @language.question == "111111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>Distinction 2000</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "Distinction.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>短い文章でテーマ別に英単語を覚えることができる参考書！本の見た目ほど難しくない！</p>
                    </div>                      
                </div>
            <% end %>
        </div>
</div>