<%= form_for(@common, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row">
                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question1. インプットをメインに進めていきたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question2. 解説は丁寧でないと困る</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question3. 設問ごとに対策を進めていきたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question4. 共通テスト対策を進めるのに十分な時間がある</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 


                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question5. 短期集中型で終わらせたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 
                </div>
            </div>
            </div>
              <div class="buttonbox">
                <%= f.submit "診断結果へ！" ,class:"sindanbotan"%>
              </div>

<% end %>