     <div class="intoro">
            <h2>診断結果</h2>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "00000" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「超入門 英文解釈の技術60」 / 「高校英文読解をひとつひとつわかりやすく」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "超入門英文解釈の技術60.jpg", size: '390x550' %> 
                     <%= image_tag "高校英文読解をひとつひとつ.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>基礎レベルからしっかりと入ることができ、演習量も確保できる参考書。時間的余裕があってじっくりと英文解釈に取り組みたい人は是非！ </p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>見やすいレイアウトとインプットに必要な要素がしっかり詰まっている参考書。英語に苦手意識がある人もとっつきやすい参考書！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @perfume.question == "00001" %>
                <h2>超入門英文解釈の技術60(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

             <% elsif @perfume.question == "00010" %>    
               <div class="提示パターンc">
                      <div class="blackboard-box">
                          <p>「はじめの英文読解ドリル」 / 「動画でわかる英文法(読解入門編)」 /「英文読解入門 基本はここだ！」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真3の箱">  
                     <%= image_tag "はじめの英文読解ドリル.jpg", size: '320x450' %> 
                     <%= image_tag "動画でわかる.jpg", size: '320x450' %> 
                     <%= image_tag "英文読解入門基本はここだ.jpg", size: '320x450' %> 
                     </div>
                    <div class="テープ3の箱">    
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>とにかく手を動かして頭に入れたい人におすすめのアウトプット特化型参考書！ </p>
                    </div>                  
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>動画で勉強を進めることができ、かつ、色とりどりのレイアウトで英文解釈の勉強が楽しくなる参考書！</p>
                    </div> 
                    <div class="tape3-box">
                      <div class="tape3"></div>
                      <p>「硬派な英文解釈の勉強」を感じられる参考書。後々にしっかり難しいところまで英文解釈の勉強をしたい人の1冊目としておすすめ！</p>
                    </div> 
                </div>
            </div> 

                <% elsif @perfume.question == "00011" %>
                <h2>超入門英文解釈の技術60(60%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "00100" %>
                <h2>超入門英文解釈の技術60(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "00101" %>
                <h2>超入門英文解釈の技術60(100%)</h2>
                <p>あ</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "00110" %>
                <h2>英文読解入門 基本はここだ！(80%), はじめの英文読解ドリル　(80%)</h2>
                <p>英文読解入門 基本はここだ！(100%)</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "00111" %>
                <h2>超入門英文解釈の技術60 (80%), 英文読解入門 基本はここだ！(80％)</h2>
                <p>超入門英文解釈の技術60(80%), 英文読解入門 基本はここだ！(80％)</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01000" %>
                <h2>高校英文読解をひとつひとつわかりやすく(80％))</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01001" %>
                <h2>高校英文読解をひとつひとつわかりやすく(60%), 超入門英文解釈の技術60(60%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01010" %>
                <h2>動画でわかる英文法(読解入門編)(80%), はじめの英文読解ドリル(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01011" %>
                <h2>基礎からの英文解釈クラシック(60%), 動画でわかる英文法(読解入門編)(60%), はじめの英文読解ドリル(60%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01100" %>
                <h2>はじめの英文読解ドリル(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01101" %>
                <h2>超入門英文解釈の技術60(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01110" %>
                <h2>はじめの英文読解ドリル(100%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "01111" %>
                <h2>基礎からの英文解釈クラシック(80%), はじめの英文読解ドリル(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10000" %>
                <h2>高校英文読解をひとつひとつわかりやすく(80％)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10001" %>
                <h2>超入門英文解釈の技術60(60%), 高校英文読解をひとつひとつわかりやすく(60%)</h2>
                <p>英文解釈の参考書の王道！</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10010" %>
                <h2>動画でわかる英文法(読解入門編)(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10011" %>
                <h2>基礎からの英文解釈クラシック(60%), 動画でわかる英文法(読解入門編)(60%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10100" %>
                <h2>英文読解入門 基本はここだ！(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10101" %>
                <h2>超入門英文解釈の技術60(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10110" %>
                <h2>英文読解入門 基本はここだ！(100％)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "10111" %>
                <h2>基礎からの英文解釈クラシック(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11000" %>
                <h2>高校英文読解をひとつひとつわかりやすく(100%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11001" %>
                <h2>高校英文読解をひとつひとつわかりやすく(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11010" %>
                <h2>動画でわかる英文法(読解入門編)(100%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11011" %>
               <div class="提示パターンb">
                      <div class="blackboard-box">
                          <p>「基礎からの英文解釈クラシック」 / 「動画でわかる英文法(読解入門編)」</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                    <div class="写真2の箱">  
                     <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '390x550' %> 
                     <%= image_tag "動画でわかる.jpg", size: '390x550' %> 
                     </div>
                    <div class="テープ2の箱">    
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>難関大志望者必見！ハイレベルな英文解釈のための準備に最適な新しい参考書！構文解析に必要な文法事項を一気に学べるよ！ </p>
                    </div>                  
                    <div class="tape2-box">
                      <div class="tape2"></div>
                      <p>動画で勉強を進めることができ、かつ、色とりどりのレイアウトで英文解釈の勉強が楽しくなる参考書！</p>
                    </div> 
                </div>
            </div>                 

                <% elsif @perfume.question == "11100" %>
                <h2>高校英文読解をひとつひとつわかりやすく(80％)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 
        
                <% elsif @perfume.question == "11101" %>
                <h2>基礎からの英文解釈クラシック(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11110" %>
                <h2>基礎からの英文解釈クラシック(80%), 動画でわかる英文法(読解入門編)(80%)</h2>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>
                <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 

                <% elsif @perfume.question == "11111" %>
               <div class="提示パターンa">
                      <div class="blackboard-box">
                          <p>基礎からの英文解釈クラシック</p>
                          <div class="chalk1"></div>
                          <div class="chalk2"></div>
                      </div>
                     <%= image_tag "基礎からの英文解釈クラシック.jpg", size: '460x650' %> 
                    <div class="tape-box">
                    <div class="tape"></div>
                    <p>難関大志望者必見！ハイレベルな英文解釈のための準備に最適な新しい参考書！構文解析に必要な文法事項を一気に学べるよ！</p>
                    </div>                      
                </div> 
            <% end %>
        </div>
</div>