<%= form_for(@text, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row">
                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question1. 記述系の問題にもしっかり触れたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question2. 解説にSVOCは振っておいてほしい。</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question3. 長めの長文にもゆくゆくは取り組みたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                  <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question4. 正直、かなり基礎レベルから取り組みたい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                 <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question5. 読む長文のテーマも重視したい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question6. そもそも英語長文の解き方がわからない</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                 <div class="Qの箱">  
                   <div class="bigcol12">
                    <div class="col-12">
                        <p>Question7. できれば音読がしやすいものの方がいい</p>
                     </div>
                 </div>
                 <div class="bigcol"> 
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "0", nil %>いいえ</p>
                    </div>
                 </div> 
                </div> 

                </div>
            </div>
              <div class="buttonbox3">
                <%= f.submit "診断結果へ！" ,class:"sindanbotan"%>
              </div>
<% end %>